# Default ignored files
/shelf/
/.idea/workspace.xml
/artifacts/
/libraries/
/discord.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
/.idea/artifacts/app.xml
/.idea/libraries/net_java_dev_jna.xml
/.idea/discord.xml
