<component name="ArtifactManager">
  <artifact type="jar" name="app">
    <output-path>$PROJECT_DIR$/out/artifacts/</output-path>
    <root id="archive" name="app.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/out/artifacts/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>